.profile-settings {
    background-color: #F3EFE0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: auto;
  }
  
  .profile-settings h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
  }
  
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .submit-button {
    display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: #254e9b;
    transform: scale(1.05);
  }
  
  

  .submit-button:focus{
    outline: none;

  }

  